.carId{
    font-weight: bold;
}

th{
    font-size: 18px;
}

h1{
    font-size: 36px;
    font-weight: bold;
    font-family: 'Jaldi', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
img{
    width: 100%;
}

.container-fluid{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vh;
    padding-top: 3vh;
}

p {
    padding-bottom: 0px;
    margin-bottom: 0px;
}